<%
  import org.easyb.util.BehaviorStepType
  import org.easyb.report.HtmlReportHelper
%>
<div id='StoriesList' style='display:none;'>
  <h2>Stories List</h2>
  <table>
    <thead>
      <tr>
        <th>Story</th>
        <th>Scenarios</th>
        <th>Failed</th>
        <th>Pending</th>
        <th>Time (sec)</th>
      </tr>
    </thead>
    <tbody>
      <%
        results.stories.eachWithIndex { storyStep, rowNum ->
          int scenarioChildrenCount = storyStep.scenarioCount
      %>
      <tr class='${HtmlReportHelper.getRowClass(rowNum)}'>
        <td>
         <% if(scenarioChildrenCount > 0) { %>
          <a href="#" onclick="\$('scenarios_for_story_' + ${rowNum}).toggle(); return false;">${storyStep.story.name}</a>
         <% } else { %>
          <a>${storyStep.story.name}</a>
         <% } %>
        </td>
        <td>${storyStep.scenarioCount}</td>
        <td class='${HtmlReportHelper.getBehaviorResultFailureSummaryClass(storyStep.failedScenarioCount)}'>${storyStep.failedScenarioCount}</td>
        <td class='${HtmlReportHelper.getBehaviorResultPendingSummaryClass(storyStep.pendingScenarioCount)}'>${storyStep.pendingScenarioCount}</td>
        <td>${storyStep.story.executionTotalTimeInMillis / 1000f}</td>
      </tr>

      <% if(scenarioChildrenCount > 0) { %> 
      <tr id='scenarios_for_story_${rowNum}' class='scenariosForStory' style='display:none;'>
        <td colspan='5'>
          <table class='scenariosForStoriesTable'>
            <tbody>
              <% storyStep.scenarios.eachWithIndex { scenarioStep, scenarioRowNum -> %>
              <tr class='${HtmlReportHelper.getScenarioRowClass(scenarioRowNum)}'>
                <td title='Scenario'>${scenarioStep.name}</td>
                <td title='Result' class='${HtmlReportHelper.getStepStatusClass(scenarioStep.result)}'>${scenarioStep.result.status}</td>
                <td title='Time (sec)'>${scenarioStep.executionTotalTimeInMillis / 1000f}</td>
              </tr>
              <% scenarioStep.childStepsSkipExecute.each { componentStep ->
                   def result = componentStep.result
              %>
              <tr class='scenarioComponents'>
                <td>${componentStep.stepType.type} ${componentStep.name}</td>
                <td class='${HtmlReportHelper.getStepStatusClass(result)}'>${result?.status != null ? result?.status : ""}</td>
                <td />
              </tr>
              <% if (result?.failed()) { %>
              <tr>
                <td colspan='3' style='color:red; padding-left: 1cm;'>
                  <% def cause = result.cause()
                     if (cause != null) { %>
                    <% if (cause instanceof org.easyb.exception.VerificationException) { %>
                  <b>${cause.source}</b><br/>
                    <%}%>
                  <strong>${cause.getClass().name}: ${cause.message}</strong>
                    <% for (i in 1..10) { %>
                  <br />${cause.stackTrace[i]}
	                  <% } %>
                  <% } %>
                  <br />
                </td>
              </tr>
              <% } %>
              <% if (componentStep.childSteps.size() > 0) { %>
             <tr>
              <td colspan='3' padding-left: 1cm;'>
              <table class='scenariosForStoriesTable'>
                <tbody>
                <% componentStep.childSteps.each { childStep -> 
                     def cResult = childStep.result
                %>
                  <tr class='scenarioComponents'>
                    <td>${childStep.stepType.type} ${childStep.name}</td>
                    <td class='${HtmlReportHelper.getStepStatusClass(cResult)}'>${cResult?.status != null ? cResult?.status : ""}</td>
                    <td />
                  </tr>
                  <% if (cResult?.failed()) { %>
                  <tr>
                    <td colspan='3' style='color:red; padding-left: 1cm;'>
                    <% def cCause = cResult.cause()
                       if (cCause != null) { %>
                      <% if (cCause instanceof org.easyb.exception.VerificationException) { %>
                      <b>${cCause?.source}</b><br/>
                      <%}%>
                      <strong>${cCause.getClass().name}: ${cCause.message}</strong>
                      <% for (i in 1..10) { %>
                      <br />${cCause.stackTrace[i]}
                    <% } %>
                    <% } %>
                      <br />
                    </td>
                  </tr>
                  <% } %>
                <% } %>
                </tbody>
              </table>
            </td>
          </tr>
              <% } %>
            <% } %>
          <% } %>
            </tbody>
          </table>
        </td>
      </tr>
        <% } %>
      <% } %>
    </tbody>
  </table>
</div>
