<%
  import org.disco.easyb.util.BehaviorStepType
  import org.disco.easyb.report.HtmlReportHelper


  def handleStoryPlainElement(element) {
%>    
      <%= "<br/>${HtmlReportHelper.formatStoryPlainElement(element)}" %>
<%      element.getChildSteps().each {
          handleStoryPlainElement(it)
      }
  }

%>

<div id='StoriesListPlain' style='display:none;'>
  <h2>Stories Text</h2>
  <% def storyCount = results.scenarioCount %>
  <% summaryText = (storyCount == 1) ? "1 scenario" : "${storyCount} scenarios"
     summaryText += results.pendingScenarioCount.toInteger() > 0 ? " (including ${results.pendingScenarioCount} pending)" : " executed"
     summaryText += results.failedScenarioCount.toInteger() > 0 ? ", but status is failure!" : " successfully"
     summaryText += results.failedScenarioCount.toInteger() > 0 ? " Total failures: ${results.failedScenarioCount}" : ""
  %>
  <div><%= summaryText %></div>
  <div><% results.genesisStep.getChildrenOfType(BehaviorStepType.STORY).each {genesisChild -> handleStoryPlainElement(genesisChild) } %></div>
</div>
